// Colors
$color-grey-darker: rgb(73, 72, 72);
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-primary: #cf82fc;
$color-primary-light: #eab0fc;
$color-primary-dark: #5643fa;
$color-grey-light-1: #f0f0f0;

$color-secondary-dark: #e53f71;
$color-secondary-light: #f7a2bc;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$card-color-light: #9aa8ff;
$card-color-dark: #24338c;





// FONTS
$default-font-size: 1.6rem;




//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;